* {
    list-style: none;
    padding: 0;
    margin: 0;
}
.listStyle {
    margin: 15px;
}
.done-true {
    background: rgb(235, 235, 235);
    text-decoration: line-through;
}
.empty-true {
    background: rgba(255, 0, 0, 0.19);
}
.bgBody {
    background: rgb(238, 238, 238) !important;
}
.mainCenter {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 11px;
    padding: 18px;
    box-shadow: inset 0px 0px 0px 1px rgb(219, 219, 219);
    background: rgb(247, 247, 247);
}
.numRemaining {
    padding: 3px 8px 3px 8px;
    margin-left: 17px;
    border-radius: 4px;
    background: white;
    color: rgb(146, 146, 146);
}
.btDel {
    background: rgb(255, 255, 255);
    padding: 3px 9px 3px 8px;
    border-radius: 8px;
    color: rgb(202, 56, 56);
    font-weight: 800;
    margin-left: 5px;
}
.listTitle {
    text-shadow: 2px 2px 3px rgb(165, 165, 165);
    text-decoration: blink;
    margin: 0;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.btDelete {
    float: right;
    margin-right: 17px;
    margin-top: -6px;
}
.sep {
    padding-top: 10px;
}
.naviBar {
    background: dimgray;
}
.imgBox {
    width: 100%;
}
.total-width {
    width: 100%;
    float: none;
    clear: both;
    padding: 0;
}
.alertLbl-true {
    display: initial;
    padding: 4px;
    border-radius: 4px;
    width: 228px;
    box-shadow: inset 0px 0px 25px 0px white;
    color: rgb(92, 92, 92);
}
.alertLbl-false {
    display: none;
}
.success-false {
    background: rgb(255, 192, 192);
}
.success-true {
    background: rgb(179, 250, 179);
}